@use "../01-abstracts/" as *;

.hero {
  margin-bottom: 120px;
  position: relative;
  @include breakpoint($md){
    height:700px;
  }

  &__img {
    @include breakpoint($md){
      max-width: 437px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }

  &__wrapper {
    margin: 32px 16px;
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
    @include breakpoint($md){
      margin: 0 0 0 auto;
      max-width: 339px;
      position: relative;
      right: 40px;
      top: 145px;
      z-index: 1;
    }
  }

  &__h {
    text-transform: uppercase;
    font-size: rem(60px);
    line-height: 0.92;
    @include breakpoint($md){
      font-size: rem(70px);
      line-height: 0.93;
    }
  }

  &__p {
    color: $grey;
    font-size: rem(18px);
    line-height: 1.56;
  }
}
