@use "./../01-abstracts/" as *;

.location {
  &__btn {
    &-wrapper {
      position: relative;
      width: 100%;
      max-width: 1110px;
      @include breakpoint($md) {
        padding-left: 39px;
      }
      @include breakpoint($lg) {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }

    position: absolute;
    z-index: 2;
  }

  &__article {
    background-color: $black;
    color: $white;
    &-wrapper {
      margin: 0 16px;
      padding: 48px 0 56px;
      @include breakpoint($md) {
        margin: 0 40px 0 39px;
        padding: 88px 0 80px;
        display: grid;
        grid-template-columns: 223fr 398fr;
        column-gap: 68px;
      }
      @include breakpoint($lg) {
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__h1 {
    font-size: rem(50px);
    line-height: 0.9;
    text-transform: uppercase;
    margin-bottom: 48px;
    @include breakpoint($md) {
      float: left;
      grid-column: 1/1;
      grid-row: 1/4;
      font-size: rem(55px);
      line-height: 0.91;
      margin-bottom: 0;
    }
  }

  &__h2 {
    font-size: rem(32px);
    line-height: 1;
    color: $gold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__address {
    font-size: rem(18px);
    line-height: 1.56;
    height: 84px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__txt {
    font-size: rem(18px);
    line-height: 1.56;
  }
}
