@use "./functions" as *;

// Colors
$gold: #d5966c;
$black: #151515;
$grey: #444;
$white: #fff;

// Fonts
$font-h: 'Big Shoulders Display', cursive;
$font-b: 'Outfit', sans-serif;

// Breakpoints
$sm: 320px;
$md: 640px;
$lg: 1080px;